{% extends 'app/base.html' %}
{% load static %}
{% block title %}Customer Registration{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Customer Registration</h3>
   <hr>

   {% if messages %}
 {% for message in messages %}
  <div id="message" class="container">
    <div class="alert alert-{{message.tags}} alert-dismissible text-center" role= 'alert '>
        <button  type='button' class="close" dta-dismiss='alert'><span aria-hidden='true'>&times;</span></button>
        <strong>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
               Error
            {% else %}
            {% endif %} 
        </strong>
        {{message}}
    </div>
  </div>
 {% endfor %}
{% endif %}

   <form action="{% url 'customerregistration' %}" method="POST" novalidate class="shadow p-5">
      {% csrf_token %}

   <div class="mb-3">
     <label for="Username" class="form-label">Username</label>
     <input type="text" name='username' class="form-control" id="username">
    </div>
    <div class="mb-3">
     <label for="inputEmail4" class="form-label">Email</label>
     <input type="email" name='email' class="form-control" id="inputEmail4">
     <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
     <label for="inputPassword1" class="form-label">Password</label>
     <input type="password" name='password' class="form-control" id="inputPassword1">
    </div>
    <div class="mb-3">
     <label for="inputPassword2" class="form-label">Confirm Password</label>
     <input type="password" name='password2' class="form-control" id="inputPassword2">
    </div>
    <div class="text-end">
     <input type="submit" value="SUBMIT">
    </div>
    <br>
    <div class="text-center text-primary fw-bold"><small>Existing User ? <a href="{% url 'login' %}"
       class="text-danger">Login Now</a> </small></div>
 
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}